Repository zxdavb/evohome-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, secrets, style_1

.pre-commit-config.yaml:

# .pre-commit-config.yaml file for https://github.com/zxdavb/evohome-async
# last updated 2024-06-26

exclude: (^.secrets/|^docs/)

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff         # linter
      - id: ruff-format  # formatter

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-executables-have-shebangs
      # id: check-json  # don't enable this one
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      # id: end-of-file-fixer  # not for snapshots
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      # entry: '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'  # email address

    - id: debugs
      name: check for _DBG_* flags  # should be False for published code
      entry: '_DBG_.*=.*True'
      language: pygrep
      args: [-i]
      exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    - id: secrets
      name: check secrets
      entry: '#.*(secret|password|pwd)'
      language: pygrep
      args: [-i]
      exclude: .pre-commit-config.yaml  # avoid false +ve

    - id: style_1
      name: check for 'as exc:' (should be 'as err:')
      entry: ' as exc:'
      language: pygrep
      args: [-i]
      exclude: .pre-commit-config.yaml  # avoid false +ve

    # - id: fixme
    #   name: check for FIXME flags
    #   entry: '#.*(FIXME|TODO)'
    #   language: pygrep
    #   args: [-i]
    #   exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    # - id: private imports
    #   name: check private imports
    #   entry: 'from .* import _.*'
    #   language: pygrep
    #   args: [-i]
    #   exclude: .pre-commit-config.yaml  # avoid false +ve


  # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults
  # (like --ignore-missing-imports) and is difficult to configure to run
  # with the dependencies correctly installed.

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #   - id: mypy
  #     additional_dependencies: [voluptuous==0.14.1]
  #     args: ["--config-file", "./pyproject.toml"]

fix UP015
  src/evohomeasync2/client.py
Due: debugs, secrets, style_1

tidy up requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements_cli.txt
  requirements_dev.txt
Due: debugs, secrets, style_1

tweak actions
  .github/workflows/check-lint.yml
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
  .github/workflows/publish-pypi.yml
  requirements.txt
Due: debugs, secrets, style_1

tweak actions
  .github/workflows/check-lint.yml
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
Due: debugs, secrets, style_1

tweak .gitignore
  .gitignore
Due: debugs, secrets, style_1

tweak actions
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
Due: debugs, secrets, style_1

tweak action
  .github/workflows/check-type.yml
Due: debugs, secrets, style_1

add -v to test
  .github/workflows/check-test.yml
Due: debugs, secrets, style_1

use syrupy, not pytest-snapshot
  requirements_dev.txt
Due: debugs, secrets, style_1

use syrupy for snapshots
  .github/workflows/check-test.yml
  tests/tests/__snapshots__/test_installs.ambr
  tests/tests/snapshots/test_installs/test_system_snapshot/default/control_system.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/default/gateway.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/default/hot_water.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/default/location.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/default/zones.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/hass_118169/control_system.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/hass_118169/gateway.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/hass_118169/hot_water.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/hass_118169/location.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/hass_118169/zones.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_002/control_system.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_002/gateway.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_002/hot_water.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_002/location.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_002/zones.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_004/control_system.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_004/gateway.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_004/hot_water.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_004/location.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_004/zones.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_006/control_system.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_006/gateway.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_006/hot_water.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_006/location.yml
  tests/tests/snapshots/test_installs/test_system_snapshot/system_006/zones.yml
  tests/tests/test_installs.py
Due: debugs, secrets, style_1

soften requires-python
  pyproject.toml
Due: debugs, secrets, style_1

lint
  tests/tests/test_installs.py
Due: secrets, style_1

mypy
  tests/tests/test_installs.py
Due: secrets, style_1

not compatible with 3.11
  .github/workflows/check-test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: debugs, secrets, style_1

bump to 1.1.0
  src/evohomeasync/__init__.py
  src/evohomeasync2/__init__.py
Due: debugs, secrets, style_1

remove outdated docs
  docs/Makefile
  docs/make.bat
  docs/source/api1/hotwater.rst
  docs/source/api1/index.rst
  docs/source/api1/modes.rst
  docs/source/api1/temperature.rst
  docs/source/api2/backuprestore.rst
  docs/source/api2/hotwater.rst
  docs/source/api2/index.rst
  docs/source/api2/modes.rst
  docs/source/api2/schedule.rst
  docs/source/api2/temperature.rst
  docs/source/conf.py
  docs/source/index.rst
Due: none

bugfix test
  tests/tests_rf/helpers.py
  tests/tests_rf/test_v2_task.py
Due: secrets, style_1

add legacy wrapper for evo2.EvohomeClient
  src/evohomeasync2/__init__.py
Due: debugs, secrets, style_1

Use .id, and not xxxxId (nor ._id), tweak super classes
  src/evohomeasync/base.py
  src/evohomeasync/broker.py
  src/evohomeasync/exceptions.py
  src/evohomeasync/schema.py
  src/evohomeasync2/__init__.py
  src/evohomeasync2/base.py
  src/evohomeasync2/broker.py
  src/evohomeasync2/client.py
  src/evohomeasync2/controlsystem.py
  src/evohomeasync2/exceptions.py
  src/evohomeasync2/gateway.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/location.py
  src/evohomeasync2/schema/__init__.py
  src/evohomeasync2/schema/const.py
  src/evohomeasync2/schema/schedule.py
  src/evohomeasync2/schema/typing.py
  src/evohomeasync2/zone.py
  tests/tests/__snapshots__/test_installs.ambr
  tests/tests/conftest.py
  tests/tests/test_installs.py
  tests/tests_rf/conftest.py
  tests/tests_rf/faked_server/__init__.py
  tests/tests_rf/faked_server/aiohttp.py
  tests/tests_rf/faked_server/const.py
  tests/tests_rf/faked_server/vendor.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: debugs, secrets, style_1

remove _password attr
  src/evohomeasync2/broker.py
Due: debugs, secrets, style_1

bump to 1.2.0
  src/evohomeasync/__init__.py
  src/evohomeasync2/__init__.py
Due: debugs, secrets, style_1

tweak requirents for tests
  requirements_dev.txt
Due: debugs, secrets, style_1

tweak requirements (as per HA 2024.9.3)
  requirements.txt
  requirements_dev.txt
Due: debugs, secrets, style_1

add codespeall and fix typos
  .pre-commit-config.yaml
  README.md
  src/evohomeasync/base.py
  src/evohomeasync2/base.py
  src/evohomeasync2/broker.py
  src/evohomeasync2/client.py
  src/evohomeasync2/controlsystem.py
  tests/tests/test_schemas_0.py
  tests/tests/test_schemas_1.py
  tests/tests_rf/faked_server/vendor.py
Due: debugs, secrets, style_1

doctweak
  requirements_dev.txt
Due: debugs, secrets, style_1

cant / wont is can't / won't
  .pre-commit-config.yaml
  src/evohomeasync/broker.py
  tests/tests_rf/test_v2_apis.py
Due: debugs, secrets, style_1

update pre-commit config
  .pre-commit-config.yaml
Due: none

fix: argument for aiofiles.open()
  src/evohomeasync2/client.py
Due: debugs, secrets, style_1

update requirements
  requirements.txt
  requirements_dev.txt
Due: debugs, secrets, style_1

update pre-commit
  .pre-commit-config.yaml
Due: none

remove unused type hints
  src/evohomeasync2/client.py
Due: debugs, secrets, style_1

mypy fix
  tests/tests/conftest.py
Due: secrets, style_1

temporary linting changings
  .gitignore
  pyproject.toml
Due: debugs, secrets, style_1

mypy fixes
  tests/tests_rf/faked_server/vendor.py
Due: secrets, style_1

temporary linting changings
  pyproject.toml
Due: debugs, secrets, style_1

Update README.md
  README.md
Due: debugs, secrets, style_1

rename broker module, class
  src/evohomeasync2/__init__.py
  src/evohomeasync2/base.py
  src/evohomeasync2/client.py
  src/evohomeasync2/session.py
  src/evohomeasync2/zone.py
  tests/tests/conftest.py
  tests/tests/test_installs.py
  tests/tests_rf/conftest.py
Due: debugs, secrets, style_1

rename switches for in/out-put files
  src/evohomeasync2/client.py
Due: debugs, secrets, style_1

refactor attrs as @property
  src/evohomeasync2/__init__.py
  src/evohomeasync2/session.py
Due: debugs, secrets, style_1

doctweak
  src/evohomeasync/__init__.py
  src/evohomeasync/base.py
  src/evohomeasync/broker.py
  src/evohomeasync/exceptions.py
  src/evohomeasync/schema.py
  src/evohomeasync2/__init__.py
  src/evohomeasync2/base.py
  src/evohomeasync2/client.py
  src/evohomeasync2/const.py
  src/evohomeasync2/exceptions.py
  src/evohomeasync2/session.py
Due: debugs, secrets, style_1
