Repository zxdavb/evohome-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, secrets, style_1

.pre-commit-config.yaml:

# .pre-commit-config.yaml file for https://github.com/zxdavb/evohome-async
# last updated 2024-06-26

exclude: (^.secrets/|^docs/)

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff         # linter
      - id: ruff-format  # formatter

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-executables-have-shebangs
      # id: check-json  # don't enable this one
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      # id: end-of-file-fixer  # not for snapshots
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      # entry: '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'  # email address

    - id: debugs
      name: check for _DBG_* flags  # should be False for published code
      entry: '_DBG_.*=.*True'
      language: pygrep
      args: [-i]
      exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    - id: secrets
      name: check secrets
      entry: '#.*(secret|password|pwd)'
      language: pygrep
      args: [-i]
      exclude: .pre-commit-config.yaml  # avoid false +ve

    - id: style_1
      name: check for 'as exc:' (should be 'as err:')
      entry: ' as exc:'
      language: pygrep
      args: [-i]
      exclude: .pre-commit-config.yaml  # avoid false +ve

    # - id: fixme
    #   name: check for FIXME flags
    #   entry: '#.*(FIXME|TODO)'
    #   language: pygrep
    #   args: [-i]
    #   exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    # - id: private imports
    #   name: check private imports
    #   entry: 'from .* import _.*'
    #   language: pygrep
    #   args: [-i]
    #   exclude: .pre-commit-config.yaml  # avoid false +ve


  # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults
  # (like --ignore-missing-imports) and is difficult to configure to run
  # with the dependencies correctly installed.

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #   - id: mypy
  #     additional_dependencies: [voluptuous==0.14.1]
  #     args: ["--config-file", "./pyproject.toml"]

clean up test handlers
  tests/tests/conftest.py
  tests/tests_rf/conftest.py
  tests/tests_rf/test_token_mgr.py
  tests/tests_rf/test_v1_apis.py
  tests/tests_rf/test_v1_xxxx.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: secrets, style_1

fixes
  src/evohomeasync2/auth.py
  tests/tests_rf/conftest.py
  tests/tests_rf/test_v2_task.py
Due: debugs, secrets, style_1

rename symbol
  src/evohomeasync/__init__.py
  tests/tests_rf/helpers.py
  tests/tests_rf/test_v1_xxxx.py
Due: debugs, secrets, style_1

tweaks to tests, et al
  src/evohomeasync/__init__.py
  src/evohomeasync2/auth.py
  tests/tests_rf/conftest.py
  tests/tests_rf/faked_server/aiohttp.py
  tests/tests_rf/test_v1_xxxx.py
Due: debugs, secrets, style_1

mypy
  src/evohomeasync2/schema/config.py
  tests/tests/conftest.py
  tests/tests_rf/conftest.py
Due: debugs, secrets, style_1

rename schema constants (plus other fixes)
  src/evohomeasync2/__init__.py
  src/evohomeasync2/auth.py
  src/evohomeasync2/client.py
  src/evohomeasync2/const.py
  src/evohomeasync2/control_system.py
  src/evohomeasync2/gateway.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/location.py
  src/evohomeasync2/schema/__init__.py
  src/evohomeasync2/schema/account.py
  src/evohomeasync2/schema/config.py
  src/evohomeasync2/schema/const.py
  src/evohomeasync2/schema/helpers.py
  src/evohomeasync2/schema/schedule.py
  src/evohomeasync2/schema/status.py
  src/evohomeasync2/zone.py
  tests/tests/test_schemas_0.py
  tests/tests/test_schemas_1.py
  tests/tests_rf/conftest.py
  tests/tests_rf/faked_server/aiohttp.py
  tests/tests_rf/faked_server/vendor.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: debugs, secrets, style_1

tweak pre-commit for DBG
  .pre-commit-config.yaml
Due: none

add test
  tests/tests_rf/test_v1_urls.py
Due: secrets, style_1

tweak test
  tests/tests_rf/test_v1_urls.py
Due: secrets, style_1

tweak conftest
  tests/tests_rf/conftest.py
Due: secrets, style_1

tweak schema
  src/evohomeasync/schema.py
Due: debugs, secrets, style_1

clean up auth tests
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v2_auth_urls.py
Due: secrets, style_1

final tweaks to Auth URL tests
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v2_auth_urls.py
Due: secrets, style_1

final tweaks to Auth URL tests 2
  tests/tests_rf/test_v1_auth_urls.py
Due: secrets, style_1

final tweaks to Auth URL tests 3
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v2_auth_urls.py
Due: secrets, style_1

typing work
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v2_auth_urls.py
Due: secrets, style_1

refactor tests
  requirements_dev.txt
  tests/tests_rf/common.py
  tests/tests_rf/conftest.py
  tests/tests_rf/const.py
  tests/tests_rf/test_token_mgr.py
  tests/tests_rf/test_v1_apis.py
  tests/tests_rf/test_v1_auth.py
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v1_urls.py
  tests/tests_rf/test_v1_xxxx.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_auth_urls.py
  tests/tests_rf/test_v2_task.py
Due: debugs, secrets, style_1

rename test module
  tests/tests/common.py
  tests/tests/test_helpers.py
  tests/tests/test_installs.py
  tests/tests/test_schemas_0.py
  tests/tests/test_schemas_1.py
  tests/tests/test_systems_0.py
Due: secrets, style_1

remove unwanted file
  tests/tests/helpers.py
Due: secrets, style_1

final tweaks to test
  tests/tests_rf/test_v1_auth.py
Due: secrets, style_1

refactor tests
  tests/tests_rf/common.py
  tests/tests_rf/conftest.py
  tests/tests_rf/const.py
  tests/tests_rf/faked_server/vendor.py
  tests/tests_rf/test_v1_apis.py
  tests/tests_rf/test_v1_auth.py
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v1_xxxx.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_auth_urls.py
  tests/tests_rf/test_v2_task.py
Due: secrets, style_1

refactor tests
  tests/__init__.py
  tests/common.py
  tests/conftest.py
  tests/const.py
  tests/tests/__snapshots__/test_installs.ambr
  tests/tests/conftest.py
  tests/tests/const.py
  tests/tests/test_installs.py
  tests/tests/test_schemas_0.py
  tests/tests/test_schemas_1.py
  tests/tests/test_v1_auth.py
  tests/tests/test_v2_auth.py
  tests/tests_rf/common.py
  tests/tests_rf/conftest.py
  tests/tests_rf/faked_server/aiohttp.py
  tests/tests_rf/faked_server/const.py
  tests/tests_rf/faked_server/vendor.py
  tests/tests_rf/test_v1_auth.py
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v1_xxxx.py
  tests/tests_rf/test_v2_auth_urls.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: debugs, secrets, style_1

move client out to /cli
  cli/auth.py
  cli/client.py
  cli/py.typed
  client.py
  pyproject.toml
Due: debugs, secrets, style_1

move client out to /cli 2/2
  src/evohomeasync2/client.py
Due: debugs, secrets, style_1

tidy up auth modules for caching
  cli/__init__.py
  cli/auth.py
  cli/client.py
  src/evohomeasync/auth.py
  src/evohomeasync2/auth.py
  tests/common.py
Due: debugs, secrets, style_1

evo1 is now evo0, and cache_manager
  src/evohomeasync/auth.py
  src/evohomeasync/schema.py
  src/evohomeasync2/auth.py
  tests/conftest.py
  tests/tests/conftest.py
  tests/tests/test_v1_auth.py
  tests/tests/test_v2_auth.py
  tests/tests_rf/common.py
  tests/tests_rf/conftest.py
  tests/tests_rf/test_v1_apis.py
  tests/tests_rf/test_v1_auth_urls.py
  tests/tests_rf/test_v1_xxxx.py
Due: debugs, secrets, style_1

v1 is now v0
  tests/tests/test_v0_auth.py
  tests/tests_rf/test_v0_apis.py
  tests/tests_rf/test_v0_auth_urls.py
  tests/tests_rf/test_v0_xxxx.py
Due: secrets, style_1

update test typing
  tests/conftest.py
  tests/tests/conftest.py
  tests/tests/test_installs.py
  tests/tests/test_v0_auth.py
  tests/tests/test_v2_auth.py
  tests/tests_rf/common.py
  tests/tests_rf/test_v0_apis.py
  tests/tests_rf/test_v0_xxxx.py
  tests/tests_rf/test_v2_apis.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: secrets, style_1

tweak
  tests/const.py
Due: secrets, style_1

lots of changes, mostly doctweaks
  cli/__init__.py
  cli/client.py
  src/evohomeasync/__init__.py
  src/evohomeasync/auth.py
  src/evohomeasync/exceptions.py
  src/evohomeasync/main.py
  src/evohomeasync/schema.py
  src/evohomeasync2/__init__.py
  src/evohomeasync2/auth.py
  src/evohomeasync2/const.py
  src/evohomeasync2/control_system.py
  src/evohomeasync2/exceptions.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/location.py
  src/evohomeasync2/main.py
  src/evohomeasync2/schema/__init__.py
  src/evohomeasync2/schema/account.py
  src/evohomeasync2/schema/config.py
  src/evohomeasync2/schema/const.py
  src/evohomeasync2/schema/helpers.py
  src/evohomeasync2/schema/schedule.py
  src/evohomeasync2/schema/status.py
  src/evohomeasync2/schema/typedefs.py
  src/evohomeasync2/zone.py
  tests/tests_rf/const.py
Due: debugs, secrets, style_1

rename symbol
  tests/tests/test_installs.py
Due: secrets, style_1

move ec1 ec2
  cli/client.py
  src/evohomeasync/__init__.py
  src/evohomeasync/main.py
  src/evohomeasync2/__init__.py
  src/evohomeasync2/location.py
  src/evohomeasync2/main.py
  tests/conftest.py
  tests/tests/conftest.py
  tests/tests/test_installs.py
Due: debugs, secrets, style_1

snack_case for Location
  src/evohomeasync2/location.py
  src/evohomeasync2/schema/config.py
  src/evohomeasync2/schema/const.py
Due: debugs, secrets, style_1

snack_case for TCS
  cli/client.py
  src/evohomeasync/__init__.py
  src/evohomeasync2/const.py
  src/evohomeasync2/control_system.py
  src/evohomeasync2/location.py
  src/evohomeasync2/main.py
  tests/tests/__snapshots__/test_installs.ambr
Due: debugs, secrets, style_1

refactor main for snake_case II
  src/evohomeasync2/auth.py
  src/evohomeasync2/const.py
  src/evohomeasync2/main.py
  tests/tests_rf/test_v2_apis.py
Due: debugs, secrets, style_1

snake_case fro location II
  src/evohomeasync2/const.py
  src/evohomeasync2/location.py
Due: debugs, secrets, style_1

doctweak
  src/evohomeasync2/auth.py
Due: debugs, secrets, style_1
