Repository zxdavb/evohome-async: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, secrets, style_1

debugs:
  name: check for _DBG_* flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

secrets:
  name: check secrets
  entry: '#.*(secret|password|pwd)'
  language: pygrep
  args:
  - -i

style_1:
  name: check for 'as exc:' (should be 'as err:')
  entry: ' as exc:'
  language: pygrep
  args:
  - -i

remove unused asserts, noqas
  cli/auth.py
  src/evohome/auth.py
  src/evohome/helpers.py
  src/evohomeasync/entities.py
  src/evohomeasync/main.py
  src/evohomeasync2/const.py
  src/evohomeasync2/main.py
  src/evohomeasync2/system.py
  src/evohomeasync2/zone.py
  tests/tests/test_schemas_0.py
  tests/tests_rf/test_v2_sked.py
  tests/tests_rf/test_v2_task.py
  tests/tests_rf/test_v2_urls.py
Due: debugs, secrets, style_1

mypy tweaks
  pyproject.toml
  tests/tests/conftest.py
  tests/tests_rf/common.py
  tests/tests_rf/faked_server/aiohttp.py
Due: debugs, secrets, style_1

Update README.md
  README.md
Due: debugs, secrets, style_1

tweak pre-commit
  .pre-commit-config.yaml
Due: none

fix typo
  README.md
Due: debugs, secrets, style_1

bugfix test fixture for credentials
  tests/conftest.py
  tests/tests_rf/conftest.py
Due: secrets, style_1

refactor auth
  src/evohome/auth.py
  src/evohomeasync/auth.py
  src/evohomeasync2/auth.py
  tests/tests_rf/common.py
Due: debugs, secrets, style_1

tweak TypedDict
  src/evohomeasync2/schemas/typedefs.py
Due: debugs, secrets, style_1

doctweak, bugfix, add const
  src/evohomeasync2/const.py
  src/evohomeasync2/zone.py
Due: debugs, secrets, style_1

Add back old xxxId attrs (for now)
  src/evohomeasync2/gateway.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/location.py
  src/evohomeasync2/system.py
  src/evohomeasync2/zone.py
Due: debugs, secrets, style_1

pass in only the getter method to Auth
  src/evohomeasync/auth.py
  src/evohomeasync/main.py
  src/evohomeasync2/auth.py
  src/evohomeasync2/main.py
Due: debugs, secrets, style_1

bump ruff to 0.8.4 (sigh)
  .pre-commit-config.yaml
  requirements_dev.txt
Due: debugs, secrets, style_1

ignore false S105
  src/evohomeasync2/auth.py
  tests/const.py
Due: debugs, secrets, style_1

bugfix typeddict
  src/evohomeasync2/schemas/typedefs.py
Due: debugs, secrets, style_1

tweak exception names/schma
  src/evohome/exceptions.py
  src/evohomeasync/__init__.py
  src/evohomeasync/entities.py
  src/evohomeasync/exceptions.py
  src/evohomeasync/main.py
  src/evohomeasync2/__init__.py
  src/evohomeasync2/exceptions.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/main.py
  src/evohomeasync2/system.py
  src/evohomeasync2/zone.py
Due: debugs, secrets, style_1

refactor cred/auth
  src/evohome/auth.py
  src/evohome/exceptions.py
  src/evohomeasync/auth.py
  src/evohomeasync2/auth.py
  tests/const.py
Due: debugs, secrets, style_1

doctweak
  tests/tests_rf/test_v2_urls.py
Due: secrets, style_1

extend tests
  tests/tests/__snapshots__/test_installs.ambr
  tests/tests/test_v2_auth.py
Due: debugs, secrets, style_1

correct should_do wrappers
  tests/tests_rf/common.py
Due: secrets, style_1

work on attrs
  src/evohomeasync2/schemas/typedefs.py
  src/evohomeasync2/system.py
  src/evohomeasync2/zone.py
Due: debugs, secrets, style_1

new test
  tests/tests_rf/test_v2_urlz.py
Due: secrets, style_1

doctweaks
  tests/tests_rf/test_v2_urls.py
Due: secrets, style_1

doctweaks
  src/evohomeasync2/schemas/typedefs.py
Due: debugs, secrets, style_1

refactor
  src/evohomeasync2/location.py
Due: debugs, secrets, style_1

Fix headers bug
  src/evohome/auth.py
  src/evohomeasync/auth.py
  src/evohomeasync2/auth.py
  src/evohomeasync2/hotwater.py
  src/evohomeasync2/schemas/__init__.py
  src/evohomeasync2/schemas/account.py
  src/evohomeasync2/schemas/config.py
  src/evohomeasync2/schemas/const.py
  src/evohomeasync2/schemas/schedule.py
  src/evohomeasync2/schemas/status.py
  src/evohomeasync2/zone.py
  tests/const.py
  tests/tests/test_v0_auth.py
  tests/tests/test_v2_auth.py
  tests/tests_rf/faked_server/const.py
  tests/tests_rf/faked_server/vendor.py
  tests/tests_rf/test_v0_auth.py
  tests/tests_rf/test_v2_auth.py
  tests/tests_rf/test_v2_urlz.py
Due: debugs, secrets, style_1

bugfix injected headers
  src/evohomeasync/auth.py
  src/evohomeasync2/auth.py
  tests/tests_rf/test_v2_urlz.py
Due: debugs, secrets, style_1

Path conditions:
  debugs: any of: not ((.pre-commit-config.yaml|^tests/.*\.py$)), but not: (^.secrets/|^docs/)
  secrets: any of: not (.pre-commit-config.yaml), but not: (^.secrets/|^docs/)
  style_1: any of: not (.pre-commit-config.yaml), but not: (^.secrets/|^docs/)
